html {
    background-color: #EEEEEE;
    font-family: sans-serif;
}
body {
    min-width: 600px;
    margin: 0;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

header,
main,
footer {
    background-color: white;
}

header,
main,
footer,
nav {
    border: none;
}

nav {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #ABC3FF;
}


.logo-text-container {
    display: flex;
    align-items: center;
}

.top-nav {
    padding: 10px;
}

.nav-title {
    font-weight: 600;
    color: black;
}

.nav-link {
    margin-left: 10px; /* Adjust the margin as needed */
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: block;
}
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.custom-button {
    display: block;
    width: 90%;
    padding: 10px;
    background-color: #D9D9D9;
    transition: background-color 0.3s ease;

    /* text properties */
    font-weight: 600;
    color: black;
}


.custom-button:hover {
    background-color: #8d8d8d;
}









/* content to the right of the navbar */

.content-wrapper {
    margin-left: 200px; /* Same as the width of the navbar */
    box-sizing: border-box;
}

.heading-wrapper {
    background-color: #E2E2E2;
    padding: 10px 20px;
    display: block;
    width: 100%;
    color: #777777;
}

.heading-text {
    margin: 0;
    font-size: 29px;
}




/* The list of music stores */

.list-info-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.list-card {
    background-color: #E2E2E2;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin: 10px 15px;
}

.list-name {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.list-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.list-details p {
    margin: 0;
}


.view-details-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    font-weight: 600;
}

.list-actions-button-details {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C1C1C1;
    color: black;
}


.list-actions-button-details:hover {
    background-color: #909090;
}

.details-header {
    border-bottom: 1px solid #7f8c8d;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.details-text {
    margin-left: 15px;
}



/* FORM */

.form {
    display: grid;
    grid-template-columns: 150px 300px 1fr;
    gap: 1rem;
}

.form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 15px;
}

/* BUTTONS */

/* BUTTONS - GENERAL */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0; margin: 0;
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
    border: 1px solid #7f8c8d;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
    border: 1px solid #7f8c8d;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}


/* BUTTONS - SPECIFIC STUFF */

.return-button {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 215px;
    display: block;
    width: 10%;
    padding: 10px;
    background-color: #87E2FF;
    transition: background-color 0.3s ease;

    /* text properties */
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.return-button:hover {
    background-color: #26a0c5;
}


.form-buttons {
    position: fixed;
    bottom: 20px;
    left: 215px;
}

.form-button-submit, .cancel-button {
    display: block;
    box-sizing: content-box;

    padding: 10px;
    margin-right: 10px;
    width: 150%;
    transition: background-color 0.3s ease;
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.form-button-submit {
    margin-bottom: 10px;
    border: 0;
    background-color: #38FF64;
}

.form-button-submit:hover {
    background-color: #178831;
}

.cancel-button {
    background-color: #FF5151;
}

.cancel-button:hover {
    background-color: #a11515;
}



/* error fields CSS */

.form .error-input {
    border: 3px solid #e74c3c;
}

.form .errors-text {
    display: block;
    font-size: 0.85rem;
    line-height: 2.25rem;
    margin-top: 0.5rem;
    color: #e74c3c;
}