<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Music stores</title>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #ABC3FF">
    <div class="top-nav">
        <div class="logo-text-container">
            <img src="/images/storeLogo.png" width="40px" alt="music stores logo" />
            <a class="nav-title" href="/music_stores">Music stores</a>
        </div>
    </div>
    <ul>
        <li><a href="/music_stores" class="custom-button">View stores</a></li>
    </ul>
</nav>

<div class="content-wrapper">
    <div class="heading-wrapper">
        <h2 class="heading-text">View stores</h2>
    </div>

    <h2 class="details-header">Add an item</h2>

    <form class="form" method="post" th:action="@{/music_stores/{idMusicStore}/submitStock/{idStorageRoom}
    (idMusicStore=${idMusicStore}, idStorageRoom=${idStorageRoom})}"
          th:object="${stock}" novalidate>

        <label for="stockNumber"><strong>Quantity</strong>: </label>
        <input type="number" name="stockNumber" id="stockNumber" th:value="${stockNumber != null ? stockNumber : ''}"
               th:class="${stockNumberError != null ? 'error-input' : ''}">
        <span id="errorStockNumber" class="errors-text" th:text="${stockNumberError}"></span>

        <label for="instrument"><strong>Instrument</strong>:</label>
        <select name="instrument" id="instrument" th:class="${instrumentError != null ? 'error-input' : ''}">
            <option value="">-- Choose an instrument --</option>
            <option th:each="instrument : ${instruments}" th:value="${instrument.idInstrument}"
                    th:selected="${instrument != null && instrument.idInstrument == chosenInstrument?.idInstrument}">
                <span th:if="${instrument instanceof T(com.example.mas_11c_janowski_bartosz_s23375.models.Instruments.InstrumentImplementations.Guitar)}">Guitar - </span>
                <span th:if="${instrument instanceof T(com.example.mas_11c_janowski_bartosz_s23375.models.Instruments.InstrumentImplementations.Drum)}">Drum - </span>
                <span th:if="${instrument instanceof T(com.example.mas_11c_janowski_bartosz_s23375.models.Instruments.InstrumentImplementations.Cymbal)}">Cymbal - </span>
                <span th:text="${instrument.modelName}"></span>
            </option>
        </select>
        <span id="errorInstrument" class="errors-text" th:text="${instrumentError}"></span>

        <span id="errorStorage" class="errors-text storage-error" th:text="${unexpectedError}"></span>


        <div th:if="${success}" class="alert-success" role="alert">
            <strong>Storage successfully updated!</strong>
        </div>

        <div class="form-buttons">
            <input class="form-button-submit" type="submit" value="Add item" />

            <ul>
                <li>
                    <a th:href="@{/music_stores/{idMusicStore}(idMusicStore=${idMusicStore})}" class="cancel-button">Cancel</a>
                </li>
            </ul>
        </div>

    </form>
</div>

</body>
</html>