<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Music stores</title>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #ABC3FF">
    <div class="top-nav">
        <div class="logo-text-container">
            <img src="/images/storeLogo.png" width="40px" alt="music stores logo" />
            <a class="nav-title" href="/music_stores">Music stores</a>
        </div>
    </div>
    <ul>
        <li><a href="/music_stores" class="custom-button">View stores</a></li>
    </ul>
</nav>

<div class="content-wrapper">
    <div class="heading-wrapper">
        <h2 class="heading-text">View stores</h2>
    </div>


    <div th:each="store : ${musicStores}" class="list-card">
        <div class="list-info">
            <h3 class="list-name" th:text="${store.storeName}"></h3>
            <div class="list-details">
                <p><strong>Address:</strong> <span th:text="${store.storeAddress.street + ' ' + store.storeAddress.streetNumber + ', ' + store.storeAddress.zipCode +
            ', ' + store.storeAddress.city}"></span></p>
                <p><strong>Country:</strong> <span th:text="${store.storeAddress.country}"></span></p>
            </div>
        </div>
        <div class="view-details-button">
            <a th:href="@{/music_stores/{id}(id=${store.idMusicStore})}" class="list-actions-button-details">View details</a>
        </div>
    </div>

</div>

</body>
</html>